
body {
	background-color: #FFFFFF;
	padding: 0;
	background-repeat: repeat-x;
}

#menuwrapper {
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	background-color: #909090;
	background-image: url(http://www.thescripts.com/images/exp_mbar.jpg);
	background-repeat: repeat-x;
	width:950px; 
	margin:0; 
	position:relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 100;
}

#topmenuwrapper {
	border-top: 1px solid #000;
	border-bottom: 1px solid #333;
	background-color: #909090;
	background-image: url(http://www.thescripts.com/images/exp_mbar.jpg);
	background-repeat: repeat-x;
	width:300px; 
	margin:0; 
	position:relative;
}


.clearit {
	clear: both;
	height: 0;
	line-height: 0.0;
	font-size: 0;
}


#navMenubar, #navMenubar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#navMenubar a {
	display: block;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	border-right: 1px solid #333;
	color: #FFFFFF;
	font: bold 11pt Arial, sans-serif;

}

#navMenubar a.trigger {
	padding: 5px 16px 5px 10px;
	background-image: url(http://www.thescripts.com/images/dark_south.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

#navMenubar li {
	float: left;
}

#navMenubar li ul  {
	width: 929px;
	padding: 10px;
	margin: 0px;
	float:left; 
}

 #navMenubar ul li  {
	float: left;
	width: 175px;
	padding: 4px;
	font-size: 11pt;
}

#navMenubar ul li a  {
	color: #565656;
	border-right: 0;
	padding: 3px 12px 3px 16px;
	font: 10pt Arial, sans-serif;
}

#navMenubar li ul {
	position: absolute;
	display: none;
	background-color: #FFFFFF;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	background-image: url(http://www.thescripts.com/images/exp_mgrad.jpg);
	background-repeat: repeat-x;
}

#navMenubar li:hover a, #navMenubar a:focus,
#navMenubar a:active, #navMenubar li.p7hvr a {
	color: #000000;
	background-color: #F6D58F;
}

#navMenubar li:hover ul, #navMenubar li.p7hvr ul {
	display: block;
	text-align:left;
	position:absolute; 
	left:0; 
	text-align:left;
}

#navMenubar li:hover ul a, #navMenubar li.p7hvr ul a {
	color: #000000;
	background-color: transparent;
}

#navMenubar ul a:hover {
	background-color: #669ACC!important;
	color: #FFFFFF!important;
}
#navMenubar li {width: auto;}

br{
	clear: left;
}

#sublist a {
	font-size: 10pt;
	margin: 0px;
	padding: 3px
	width: 140px;

}
#sublist a:hover {
	font-size: 10pt;
	margin: 0px;
	padding: 3px
	width: 140px;
	background-color: #606060;
	color: #FFFFFF;
}
#sublist a:visited {
	font-size: 10pt;
	margin: 0px;
	padding: 4px
	width: 140px;
}

#menudesc{
	padding: 5px;
	font-size: 9pt;
	font-weight: bold;
	font-style: italic;
}

.menucat{
	padding-bottom: 10px;
	font-size: 10pt;
	font-weight: bold;
}